<header id='app-header'>
  <div class='wrapper'>
    <h1>{{#linkTo index}}Ember Time Tracker{{/linkTo}}</h1>
    {{render totals}}
  </div>
</header>

<section id='content'>
  {{outlet}}
</section>

{{#linkTo old}}Old{{/linkTo}}