<header class="masthead clear">
  <div class="account size-1 padded">
    <a class="logout push-left float-rev" href="">(&ensp;log out&ensp;)</a>
    <a class="user" href="">
      <img class="float push-right user-avatar" src="http://placehold.it/20x20" />
      <div class="user-name flow ellip">{user name super long text long name}</div>
    </a>
  </div>

  <div class="masthead-details">
    <h1 class="logo padded-vert">Ember Time Tracker</h1>

    <ul class="horz-fill clear masthead-menu">

      <li class="padded time-cell">
        <h2 class="size-1 menu-title">Overall Time</h2>
        <div class="overall-hour size-1 panel">
          <strong class="hours">999,666</strong>
          <span class="duration indicator">hrs</span>
        </div>
      </li>

      <li class="padded earnings-cell">
        <h2 class="size-1 menu-title">Overall Earnings</h2>
        <div class="overall-earnings size-1 panel">
          <span class="dollar indicator">$</span>
          <strong class="amount">999,777.33</strong>
        </div>
      </li>
    </ul>
  </div>

</header>

<div class="graph-container padded">
  <img src="http://placehold.it/1400x120/333333/ffffff" />
</div>

<div class="entry-form padded">
  <fieldset class="form-area size-1">
    <ol class="entry-form-details">
      <li class="entry-project clear push-top">
        <label class="float push-right">project</label>
        <div class="flow">
          <select class="project">
            <option>{Project ABC123}</option>
          </select>
        </div>
      </li>
      <li class="entry-hours clear push-top">
        <label class="float push-right">hours</label>
        <div class="flow">
          <input class="hours" placeholder="1" type="number" min="1" max="10">
        </div>
      </li>
      <li class="entry-date clear push-top">
        <label class="float push-right">date</label>
        <div class="flow">
          <input class="date" placeholder="yyyy-mm-dd" type="date">
        </div>
      </li>
    </ol>
    <ol class="entry-form-meta">
      <li class="entry-note push-top">
        <label class="hidden">notes</label>
        <textarea class="note" placeholder="notes"></textarea>
      </li>
      <li class="entry-submit push-top clear">
        <button class="button button-entry" type="submit">Submit Entry</button>
      </li>
    </ol>
  </fieldset>
</div>



<table class="entries-table size-1">
  <thead>
    <tr>
      <th class="cell-hours">Hours</th>
      <th class="cell-cost">Cost</th>
      <th class="cell-date">Date</th>
      <th class="cell-project">Project</th>
      <th class="cell-note">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
    <tr>
      <td class="cell-hours">2.00</td>
      <td class="cell-cost">$90.00</td>
      <td class="cell-date">2013-05-03</td>
      <td class="cell-project"><a href="">{project X}</a></td>
      <td class="cell-note"><a class="note-icon icon hide-text" title="View note for this time entry" href="">notes</a></td>
    </tr>
  </tbody>
</table>

{{outlet}}