{{render timeEntriesNew}}

<table id='time-entries-table' {{bindAttr class='isIndex'}}>
  <thead>
    <tr>
      {{#if isIndex}}
        <th class='project'>Project</th>
      {{/if}}
      <th class='date'><span>Date</span></th>
      <th class='hours'><span>Hrs</span></th>
      <th class='dollars'><span>$</span></th>
      <th class='description'>Description</th>
      <th class='paid'>Paid</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller itemController='timeEntry'}}
      {{partial 'time_entry'}}
    {{/each}}
  </tbody>
</table>