{{partial new_time_entry_form}}

<table id='time-entries-table' {{bindAttr class='isProject'}}>
  <thead>
    <tr>
      <th class='project'>Project</th>
      <th class='date'><span>Date</span></th>
      <th class='hours'><span>Hrs</span></th>
      <th class='dollars'><span>$</span></th>
      <th class='description'>Description</th>
      <th class='paid'>Paid</th>
    </tr>
  </thead>
  <tbody>
    {{#each arrangedContent itemController='timeEntry'}}
      {{partial 'time_entry'}}
    {{/each}}
  </tbody>
</table>