<table id='time-entries-table'}}>
  <thead>
    <tr>
      <th class='name'>Name</th>
      <th class='rate'>Hourly Rate<span>$</span></th>
      <th class='budget'>Budget<span>$</span></th>
    </tr>
  </thead>
  <tbody>
    {{#each content}}
    <tr>
      <td>{{name}}</td>
      <td>{{rate}}</td>
      <td>{{budget}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
