#content
  width: $page-width
  margin: 0 auto
  background: white
  border: 1px solid #ddd
  overflow: hidden
  +border-radius(5px)

  header
    padding: $gutter

    h1
      display: inline-block
      margin: 0
      font:
        size: 36px
        weight: 500
      line-height: 1

      a, span
        font-weight: 100

      a
        &:before
          position: relative
          font-size: 18px
          top: -12px
          color: white
          margin:
            left: -12px
            right: 4px
          +font-icon( 'FontAwesome', $fontawesome-level-up )
          +flip-horizontal

        &:hover:before
          color: $blue

      span
        color: #ccc

    #project-totals
      float: right
      padding: 0
      margin: 0

      li
        display: inline-block
        margin: 0 -2px 0 $gutter
        padding: 12px 0
        font-size: 18px

        &.unpaid
          color: $red

        &.paid
          color: $green

        &.total
          color: $blue

        span
          display: inline-block
          margin-left: 4px

          &:before
            font-weight: 100
            margin-right: 4px

          &.hours:before
            +font-icon( 'FontAwesome', $fontawesome-time )

          &.dollars:before
            content: '$'
            display: inline-block    