#content
  width: $page-width
  margin: 0 auto
  background: white
  border: 1px solid #ddd
  overflow: hidden
  +border-radius(5px)

  #time-entries-table
    table-layout: fixed
    width: 100%
    border-collapse: collapse

    th
      padding: 12px

    td
      padding: 6px 12px

      &.hours
        text-align: center